<h1>YEaaa this is edit posssiotion</h1>
<%=@post_data%>
<div>
<%= form_for :products,  :url => "/products/edit/save" do |f| %>
 Title<br><%= f.text_field :title, :value => @title %><br>
 Price<br><%= f.text_field :price, :value => @price %><br>
 Amount<br><%= f.text_field :amount, :value => @amount %><br>
 Issue ID<br><%= f.text_field :issue_id, :value => @issue_id %><br>
 Released<br><%= f.text_field :release_date, :value => @release_date %><br>
<%= f.hidden_field :original_title, :value => @title %>
 <%= f.submit "Save"%>
<% end %>
</div>