
<body>
<script type="text/javascript">
function me() {
    alert("maikamu da eba")
}
</script>
<h2>Products#show</h2>
<h1>Hello from pr oducts</h1>

<table onclick="me()">
    <tr>
        <th>
            Title
        </th>
        <th>
            price
        </th>
        <th>
            Amount
        </th>
        <th>
            Released
        </th>
        <th>
            Issue
        </th>
    </tr>
<% @products.each do |product| %>
    <tr>
        <td><%= product.title %></td>
        <td><%= product.price %></td>
        <td><%=product.amount%></td>
        <td><%=product.release_date%></td>
        <td><%=product.issue_id%></td>
    </tr>
<% end %>
</table >
</body>