<h1>Sorted products</h1>

<table onclick="me()">
    <tr>
        <th>
            <%= link_to  "Title", products_sorted_path(:project_id => @project_id, :sort => "title") %>
        </th>
        <th>
            Price
        </th>
        <th>
            Amount
        </th>
        <th>
            Released
        </th>
        <th>
            Issue
        </th>
        <th>
            
        </th>
    </tr>
<% @products.each do |product| %>
    <tr>
        <td><%= product.title %></td>
        <td><%= product.price %></td>
        <td><%=product.amount%></td>
        <td><%=product.release_date%></td>
        <td><%=product.issue_id%></td>
        <td>
            <%= link_to "Edit", products_edit_pos_path(
                title: product.title,
                price: product.price,
                amount: product.amount,
                release_date: product.release_date,
                issue_id: product.issue_id,
                project_id:  @project_id
                ), method: :post %>
        </td>
    </tr>
<% end %>
</table >